* {
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
    display: flex;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.block_list {
    display: flex;
    justify-content: space-around;
    
}

ol {
    margin-right: 50px;
}

.hidden {
    display: none;
}
